<div class="row">
  <div class="col-md-2  red lighten-5">
  	a  aaaaaa a a aaaaa a  aaaaaa a a aaaaa a  aaaaaa a a aaaaa a  
    aaaaaa a a aaaaa a  aaaaaa a a aaaaa a  aaaaaa a a aaaaa 
    a aaaaaa a a aaaaa a  aaaaaa a a aaaaa a  aaaaaa a a aaaaa 
  </div>
  <div class="col-md-5">
  	bbbbbbb bbbbbb bbbbbbb bbbbbb bbbbbbb bbbbbbbbbbbbb bbbbbbbbbbbbb bbbbbb
  	bbbbbbb bbbbbb bbbbbbb bbbbbb bbbbbbb bbbbbb
  </div>
  <div class="col-md-5">
  	ccccc c  c c cc c cccccccc c  c c cc c cccccccc c  c c cc c ccc
  	ccccc c  c c cc c cccccccc c  c c cc c cccccccc c  c c cc c ccc
  </div>
</div>