<div class="panel panel-default">
	<div class="panel-body">
		<div class="alert alert-success">
			<b><%= raw t "advertisements.donate" %></b>
		</div>

		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="DY2VXBDXGYANJ">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
</div>

<br><br>

<!--***********************************************************************
*************************** ADVERTISEMENTS ********************************
*************************************************************************** -->

<div id="pyv-embed-container">
        <div id="pyv-embed-channel-container">
            <a id="pyv-embed-channel-image-overlay" class="pyv-embed-channel-image click-overlay" target="_blank" href="https://www.youtube.com/pyv_redirect?ai=C9-TQHNC5V_yVBsO9nASn3ZSQC6fRh61E9reFqMMC2dkeEAEg4_uTA2Df5viNvCWgAeLUruUDyAEBqAMByAObBKoEnAFP0EL1KGwE_zTFlMbUyrEGTPux50-Lar0ZK0_7HVMJ24yzzX1cA7PX3q0S3G19JOj9mzuZpJfjWLb9O3BglkMQ14uBWam0T91BgwldzJEqVUI1CLsoaSvD-ajM2R16TPhYA3-TNQfA-GTUyxZBR0IFOpnEiOiyEtU1Ri7o_p6SH5t3zN2yoE7CAfl1TPJkVPCogJcQGDNXwA_mOZSgBhrIBubzpv3CAoAHhqvRGqgHgcYbqAemvhvYBwG4E-gB&amp;sig=AOD64_0n7dPee6KtlQDYzSjfQdwNPzx5fw&amp;sa=l&amp;num=1&amp;sigh=uxEVLX7S4ZQ&amp;v=cqNmVJk7Zyg&amp;adurl=http://www.youtube.com/watch%3Fv%3DcqNmVJk7Zyg&amp;client=ca-pub-6219811747049371&amp;crid=86698998246&amp;agcid=86788627446&amp;cnvtrk=1017883234">
                <img src="https://yt3.ggpht.com/-WebgcYsq7mA/AAAAAAAAAAI/AAAAAAAAAAA/MMydKu8Zlsg/s60-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="Learn to Code">
            </a>
            <a id="pyv-embed-channel-name-overlay" class="pyv-embed-channel click-overlay" target="_blank" href="https://www.youtube.com/pyv_redirect?ai=C9-TQHNC5V_yVBsO9nASn3ZSQC6fRh61E9reFqMMC2dkeEAEg4_uTA2Df5viNvCWgAeLUruUDyAEBqAMByAObBKoEnAFP0EL1KGwE_zTFlMbUyrEGTPux50-Lar0ZK0_7HVMJ24yzzX1cA7PX3q0S3G19JOj9mzuZpJfjWLb9O3BglkMQ14uBWam0T91BgwldzJEqVUI1CLsoaSvD-ajM2R16TPhYA3-TNQfA-GTUyxZBR0IFOpnEiOiyEtU1Ri7o_p6SH5t3zN2yoE7CAfl1TPJkVPCogJcQGDNXwA_mOZSgBhrIBubzpv3CAoAHhqvRGqgHgcYbqAemvhvYBwG4E-gB&amp;sig=AOD64_0n7dPee6KtlQDYzSjfQdwNPzx5fw&amp;sa=l&amp;num=1&amp;sigh=uxEVLX7S4ZQ&amp;v=cqNmVJk7Zyg&amp;adurl=http://www.youtube.com/watch%3Fv%3DcqNmVJk7Zyg&amp;client=ca-pub-6219811747049371&amp;crid=86698998246&amp;agcid=86788627446&amp;cnvtrk=1017883234">
                Treehouse
            </a>
        </div>
        <div id="pyv-embed-mask" style="background-image:url('//i.ytimg.com/vi/cqNmVJk7Zyg/mqdefault.jpg')">
          <div id="pyv-embed-player">
            <div id="iframe-player"></div>
          </div>
          <a id="pyv-embed-overlay" class="click-overlay" target="_blank" href="https://www.youtube.com/pyv_redirect?ai=C9-TQHNC5V_yVBsO9nASn3ZSQC6fRh61E9reFqMMC2dkeEAEg4_uTA2Df5viNvCWgAeLUruUDyAEBqAMByAObBKoEnAFP0EL1KGwE_zTFlMbUyrEGTPux50-Lar0ZK0_7HVMJ24yzzX1cA7PX3q0S3G19JOj9mzuZpJfjWLb9O3BglkMQ14uBWam0T91BgwldzJEqVUI1CLsoaSvD-ajM2R16TPhYA3-TNQfA-GTUyxZBR0IFOpnEiOiyEtU1Ri7o_p6SH5t3zN2yoE7CAfl1TPJkVPCogJcQGDNXwA_mOZSgBhrIBubzpv3CAoAHhqvRGqgHgcYbqAemvhvYBwG4E-gB&amp;sig=AOD64_0n7dPee6KtlQDYzSjfQdwNPzx5fw&amp;sa=l&amp;num=1&amp;sigh=uxEVLX7S4ZQ&amp;v=cqNmVJk7Zyg&amp;adurl=http://www.youtube.com/watch%3Fv%3DcqNmVJk7Zyg&amp;client=ca-pub-6219811747049371&amp;crid=86698998246&amp;agcid=86788627446&amp;cnvtrk=1017883234&amp;nm=1&amp;nb=21&amp;nx=113&amp;ny=153&amp;clkt=52&amp;mb=2">
            <div id="pyv-embed-lozenge"></div>
          </a>
        </div>
        <div class="pyv-embed-description">
          <a id="pyv-embed-headline-overlay" class="pyv-embed-headline click-overlay" target="_blank" title="Learn to Code" href="https://www.youtube.com/pyv_redirect?ai=C9-TQHNC5V_yVBsO9nASn3ZSQC6fRh61E9reFqMMC2dkeEAEg4_uTA2Df5viNvCWgAeLUruUDyAEBqAMByAObBKoEnAFP0EL1KGwE_zTFlMbUyrEGTPux50-Lar0ZK0_7HVMJ24yzzX1cA7PX3q0S3G19JOj9mzuZpJfjWLb9O3BglkMQ14uBWam0T91BgwldzJEqVUI1CLsoaSvD-ajM2R16TPhYA3-TNQfA-GTUyxZBR0IFOpnEiOiyEtU1Ri7o_p6SH5t3zN2yoE7CAfl1TPJkVPCogJcQGDNXwA_mOZSgBhrIBubzpv3CAoAHhqvRGqgHgcYbqAemvhvYBwG4E-gB&amp;sig=AOD64_0n7dPee6KtlQDYzSjfQdwNPzx5fw&amp;sa=l&amp;num=1&amp;sigh=uxEVLX7S4ZQ&amp;v=cqNmVJk7Zyg&amp;adurl=http://www.youtube.com/watch%3Fv%3DcqNmVJk7Zyg&amp;client=ca-pub-6219811747049371&amp;crid=86698998246&amp;agcid=86788627446&amp;cnvtrk=1017883234">Learn to Code</a>
          <a id="pyv-embed-description-overlay" class="pyv-embed-text click-overlay" target="_blank" title="Ever wanted to build an app? Learn to code your dreams." href="https://www.youtube.com/pyv_redirect?ai=C9-TQHNC5V_yVBsO9nASn3ZSQC6fRh61E9reFqMMC2dkeEAEg4_uTA2Df5viNvCWgAeLUruUDyAEBqAMByAObBKoEnAFP0EL1KGwE_zTFlMbUyrEGTPux50-Lar0ZK0_7HVMJ24yzzX1cA7PX3q0S3G19JOj9mzuZpJfjWLb9O3BglkMQ14uBWam0T91BgwldzJEqVUI1CLsoaSvD-ajM2R16TPhYA3-TNQfA-GTUyxZBR0IFOpnEiOiyEtU1Ri7o_p6SH5t3zN2yoE7CAfl1TPJkVPCogJcQGDNXwA_mOZSgBhrIBubzpv3CAoAHhqvRGqgHgcYbqAemvhvYBwG4E-gB&amp;sig=AOD64_0n7dPee6KtlQDYzSjfQdwNPzx5fw&amp;sa=l&amp;num=1&amp;sigh=uxEVLX7S4ZQ&amp;v=cqNmVJk7Zyg&amp;adurl=http://www.youtube.com/watch%3Fv%3DcqNmVJk7Zyg&amp;client=ca-pub-6219811747049371&amp;crid=86698998246&amp;agcid=86788627446&amp;cnvtrk=1017883234">
            Ever wanted to build an app? Learn to code your dreams.
          </a>
        </div>
      </div>


